* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.home,
.breakout,
.memoryGame,
.mario,
.finished {
  padding: 10px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.home h1 {
  text-align: center;
  padding: 50px 0;
}

.home h2 {
  padding: 30px 0;
  text-align: center;
}

.home ul {
  text-align: center;
  list-style: none;
}

.home ul li {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  margin: 30px;
}

.navBox {
  border: 1px solid gray;
  padding: 10px;
  margin: 0 auto;
  width: 70%;
}

.navBox li a {
  display: flex;
  align-items: center;
}

canvas {
  background: #eee;
  display: block;
  margin: 10vh auto;
  box-sizing: border-box;
}

.backBtn,
.startBtn {
  display: block;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 5px;
}

@media screen and (min-width: 800px) {
  .gameGrid {
    background-color: gray;
    width: 150px;
    height: 200px;
    border-radius: 15px;
    margin: 10px;
    text-align: center;
    font-size: 6rem;
    line-height: 200px;
    cursor: pointer;
  }
  .gameGrid:hover {
    background-color: rgba(56, 133, 222, 0.664);
  }
  .memoryGame .memoryContent {
    margin: 20px auto;
  }
  .home .homeCard .css-mg3627-MuiPaper-root-MuiCard-root {
    display: flex;
    width: 30vw;
  }
  .home .homeCard .css-xlzqye {
    width: 100%;
  }
  .home .homeCard .css-1ndgitk {
    justify-content: center;
  }
  .home .homeCard img {
    margin: 0 auto;
  }
}
@media screen and (max-width: 799px) {
  .navBox {
    border: 1px solid gray;
    padding: 10px;
    margin: 0 auto;
    width: 100%;
  }
  .gameGrid {
    background-color: gray;
    width: 28vw;
    height: 150px;
    line-height: 150px;
    border-radius: 15px;
    margin: 10px;
    text-align: center;
    font-size: 4rem;
    cursor: pointer;
  }
  .gameGrid:hover {
    background-color: rgba(56, 133, 222, 0.664);
  }
  .home .homeCard .css-ykcz1n-MuiPaper-root-MuiCard-root {
    display: flex;
    flex-direction: column;
    margin: 24px 10px;
  }
  .home .homeCard .css-ykcz1n-MuiPaper-root-MuiCard-root .css-xlzqye {
    width: 100%;
  }
  .home .homeCard .css-ykcz1n-MuiPaper-root-MuiCard-root .css-1ndgitk {
    justify-content: center;
  }
  .home .homeCard .css-ykcz1n-MuiPaper-root-MuiCard-root img {
    margin: 0 auto;
  }
}