* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.home,
.breakout,
.memoryGame,
.mario,
.finished,
.bakery {
  padding: 10px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.list__item {
  color: #272420;
  height: auto;
  display: grid;
  place-items: center;
  position: relative;
}

.list__item:hover {
  background-position: 0% 100%;
}

.button,
.buttonStart {
  background-color: inherit;
  font-size: 1.2rem;
  line-height: 1;
  color: currentColor;
  text-decoration: none;
  display: block;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.button span {
  background-color: #97bee6;
  display: inherit;
  padding: 1em 3em;
  border: 2px solid currentColor;
  border-radius: 2em;
  position: relative;
  z-index: 1;
  transform: translate(-0.4rem, -0.4rem);
  transition: 0.2s ease-in-out;
}

.buttonStart span {
  background-color: #f0d7c2;
  display: inherit;
  padding: 1em 3em;
  border: 2px solid currentColor;
  border-radius: 2em;
  position: relative;
  z-index: 1;
  transform: translate(-0.4rem, -0.4rem);
  transition: 0.2s ease-in-out;
}

.button::after,
.buttonStart::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 2em;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid currentColor;
  background-color: inherit;
  pointer-events: none;
  mix-blend-mode: darken;
  filter: contrast(1200%) brightness(100%) saturate(0.25);
  overflow: hidden;
  background: linear-gradient(182deg, currentColor, currentColor 25%, rgba(0, 0, 0, 0) 100%), url("data:image/svg+xml,%3Csvg viewBox='0 0 400 75' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='7' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.button:hover span,
.buttonStart:hover span {
  transform: translate(0px, 0px);
  transition: 0.2s ease-in-out;
}

.home h1 {
  text-align: center;
  padding: 50px 0;
}

.home h2 {
  padding: 30px 0;
  text-align: center;
}

.home ul {
  text-align: center;
  list-style: none;
}

.home ul li {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  margin: 30px;
}

canvas {
  background: #eee;
  display: block;
  margin: 10vh auto;
  box-sizing: border-box;
}

.backBtn,
.startBtn {
  display: block;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 5px;
  gap: 10px;
}

@media screen and (min-width: 800px) {
  .gameGrid {
    background-color: gray;
    width: 150px;
    height: 200px;
    border-radius: 15px;
    margin: 10px;
    text-align: center;
    font-size: 6rem;
    line-height: 200px;
    cursor: pointer;
  }
  .gameGrid:hover {
    background-color: rgba(56, 133, 222, 0.664);
  }
  .breakout .btnFlex,
  .memoryGame .btnFlex,
  .bakery .btnFlex {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }
  .memoryGame .memoryContent {
    margin: 20px auto;
  }
  .home .homeCard .css-ykcz1n-MuiPaper-root-MuiCard-root,
  .home .homeCard .css-av2lo8-MuiPaper-root-MuiCard-root {
    padding: 16px !important;
  }
  .home .homeCard .css-mg3627-MuiPaper-root-MuiCard-root {
    display: flex;
    width: 30vw;
  }
  .home .homeCard .css-xlzqye {
    width: 100%;
  }
  .home .homeCard .css-1ndgitk {
    justify-content: center;
  }
  .home .homeCard img {
    margin: 0 auto;
  }
}
@media screen and (max-width: 799px) {
  .gameGrid {
    background-color: gray;
    width: 28vw;
    height: 150px;
    line-height: 150px;
    border-radius: 15px;
    margin: 10px;
    text-align: center;
    font-size: 4rem;
    cursor: pointer;
  }
  .gameGrid:hover {
    background-color: rgba(56, 133, 222, 0.664);
  }
  .css-ykcz1n-MuiPaper-root-MuiCard-root,
  .css-av2lo8-MuiPaper-root-MuiCard-root,
  .css-lu6kle {
    display: flex;
    flex-direction: column !important;
    margin: 24px 10px !important;
  }
  .css-ykcz1n-MuiPaper-root-MuiCard-root .css-xlzqye,
  .css-av2lo8-MuiPaper-root-MuiCard-root .css-xlzqye,
  .css-lu6kle .css-xlzqye {
    width: 100% !important;
  }
  .css-ykcz1n-MuiPaper-root-MuiCard-root .css-1ndgitk,
  .css-av2lo8-MuiPaper-root-MuiCard-root .css-1ndgitk,
  .css-lu6kle .css-1ndgitk {
    justify-content: center !important;
  }
  .css-ykcz1n-MuiPaper-root-MuiCard-root img,
  .css-ykcz1n-MuiPaper-root-MuiCard-root .css-13ee07h,
  .css-av2lo8-MuiPaper-root-MuiCard-root img,
  .css-av2lo8-MuiPaper-root-MuiCard-root .css-13ee07h,
  .css-lu6kle img,
  .css-lu6kle .css-13ee07h {
    margin: 0 auto !important;
  }
  .btnFlex {
    display: flex;
    gap: 10px;
    padding-top: 20px;
  }
}